/*------------------------------------------------------------------
[Table of contents]

1. Common styles
2. Banner
3. Block
4. Owl
5. Tab
6. Products list
-------------------------------------------------------------------*/
/*--------------------------
[1. Common styles]
---------------------------*/
body{
  font-size: 14px;
  color: #333;  
  line-height: 24px;
  overflow-x:hidden;
  -webkit-font-smoothing:antialiased;
}
span,i{
    display:inline-block!important;
}
a,p{
  color: #000;
}
a:hover,
a:focus,
a:active{
  color: #5a88ca;
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display:inline-block!important;
}
input[type="text"],
input[type="number"],
input[type="password"],
textarea,
select{
  height: 34px;
  padding: 0 10px;
  /*border: 1px solid #eaeaea;*/
  width: 100%;
  display: block;
  max-width: 100%;
  border-radius:0px!important;
}
textarea{
  height: inherit;
}
input:focus,
textarea:focus,
select:focus,
button:focus{
  outline: none;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/dropdow.png') no-repeat right center;
}
select,input{
    /*border: 1px solid #d0d1d3;*/
}
ul{
  margin-bottom: 0;

}
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #eaeaea;
    padding: 10px;
}
.input-group{
    margin-bottom:5px;
}
.input-group-addon{
    border:none!important;
    border-radius:0px;
}
.clearfix:after{
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.box-radius{
  border: 1px solid #eaeaea;
  border-radius: 17px;

}
.button{
  padding: 0 15px; 
  display: inline-block;
  height: 34px;
  line-height: 34px;
  border: none;
  background: #5a88ca;
  color: #fff;
}

.button:hover{
  opacity: 0.9;
  color: #fff;
}
.button-medium{
  padding: 10px 20px;
}
.button-default{
  background: #5a88ca;
  color: #fff;
  border-color: #5a88ca;
}
.button-default:hover{
  color: #fff;
}
.button-radius{
  position: relative;
  border: 1px solid #eaeaea;
  padding: 1px;
  min-height: 34px;
  background: #fff;
  display: inline-block;
  width: auto;
  line-height: 30px;
  padding-left: 40px;
  padding-right: 20px;
  margin: 0;
  color: #666666;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  margin-top: 10px;
  font-size: 14px;
}
.button-radius .icon{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute;
  left: 2%;
  top: 2px;
  overflow: hidden;
}

.button-radius .icon:before{
  font-family: 'FontAwesome';
  content: "\f105";
  font-size: 14px;
  color: #fff;
  width: 28px;
  height: 28px;
  background-color: #5a88ca;
  border-radius: 90%;
  text-align: center;
  line-height: 26px;
  float: left;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.button-radius.white{
  border-color: #fff;
  color: #fff;
  background: transparent;
}
.button-radius.white .icon:before{
  background: #fff;
  color: #333;
}

.button-radius:hover .icon{
  left: 100%;
  margin-left: -30px;
}
.button-radius:hover{
  padding-left: 20px;
  padding-right: 40px;
}
.required:after{
  color: red;
  content: ' (*)';
  font-size: 12px;
}
.bold{
  font-weight: bold;
}
.alignleft{
  float: left;
}
.alignright{
  float: right;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
img.alignleft{
    margin: 0 20px 15px 0;
}
img.alignright{
    margin: 0 0 15px 20px;
}
.clearfix:before{
  content: "";
  display: table;
}
.fa{
  line-height:inherit;
}

/*-----------------------------
[2. Banner]
-------------------------------*/
.banner1>a{
  position: relative;
  display: block;
}
.banner1>a:after{
  content: " ";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s; 
}
.banner1>a:hover:after{
  opacity: 1;
}
.banner-hover a {
  position: relative;
  display: block;
  width: 100%;
}
.banner-hover a:before {
  background-color: rgba(255, 255, 255, 0.15);
  content: "";
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  width: 0;
}
.banner-hover a:after {
  background-color: rgba(255, 255, 255, 0.15);
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  width: 0;
}
.banner-hover a:hover:before {
  height: 100%;
  width: 100%;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
}
.banner-hover a:hover:after {
  height: 100%;
  width: 100%;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
}
.image-hover2 a{
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
}
.image-hover2 a:after{
  overflow: hidden;
  position: absolute;
  top: 0;
  content: "";
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  z-index: 1;
}
.image-hover2 a:before{
  font: normal normal normal 18px/1 FontAwesome;
  content: "\f002";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  color: #fff;
  ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.image-hover2 a:hover:after{
  visibility: visible;
  opacity: 0.8;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.image-hover2 a:hover:before{
  opacity: 1;
}
/*-----------------------
[3. Block]
------------------------*/
.block{
  background: #fff;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  max-width: 100%;
  width: 100%;
}
.block .block-head{
  padding: 15px 20px;
  border-bottom: 1px solid #eaeaea;
  background: #fbfbfb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.block .block-inner{
  width: 100%;
  float: left;
  padding: 20px;
}
.block .block-head .block-icon {
  padding-right: 20px;
  float: left;
}
.block .block-head .block-title-text {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 20px;
}
.block .block-head .block-title-text.text-lg{
  font-weight: 600;
}
.block .block-head .block-title-text.text-sm {
  font-size: 18px;
  font-style: italic;
}
.block3{
  background: #fff;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
}
.block3 .block-head{
  border-bottom: 1px solid #eaeaea;
  background: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}
.block3 .block-inner{
  width: 100%;
  float: left;
  padding: 20px;
}
.block3 .block-head .block-title{
  width: auto;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 18px;
  height: 50px;
  border-top: 5px solid #fd7400;
  line-height: 43px;
  text-transform: uppercase;
  padding: 0 20px;
  border-top-left-radius: 5px;
  float: left;
}
.block3 .block-head .customNavigation-owl{
  width: auto;
  display: inline-block;
  height: 50px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  float: left;
  text-align: center;
  line-height: 50px;
  padding: 0 25px;
  padding-top: 16px;
}
.block3 .block-head .nav-tab.default{
  width: auto;
  display: inline-block;
  float: right;
}
.block3 .block-head .nav-tab.default li{
  padding: 0 20px;
  display: inline;
  line-height: 50px;
  float: left;
}
.block3 .block-head .nav-tab.default li>a{
  height: 50px;
  border-bottom: 1px solid transparent;
  float: left;
}
.block3 .block-head .nav-tab.default li:hover>a,
.block3 .block-head .nav-tab.default li.active>a{
  border-color: #fd7400;
}
.block3 .block-footer{
  border-top: 1px solid #eaeaea;
  width: 100%;
  float: left;
  padding: 3px;
}
.block3 .block-head .nav-tab.tab-category{

}
.block3 .block-head .nav-tab.tab-category li{
  list-style: none;
  display: inline;
  float: left;
  border-top: 5px solid transparent;
  line-height: 50px;
}
.block3 .block-head .nav-tab.tab-category li>a{
  padding: 18px 22px;
  font-size: 18px;
  text-transform: uppercase;
}
.block3 .block-head .nav-tab.tab-category li>a:focus{
  color: #333;
}
.block3 .block-head .nav-tab.tab-category li:after{
  content: '';
  border-right: 1px solid #eaeaea;
  padding: 20px 0;
  margin-left: -1px;
}
.block3 .block-head .nav-tab.tab-category li.active,
.block3 .block-head .nav-tab.tab-category li:hover{
  border-color: #fd7400;
}
/*-----------------------
[4. Owl]
------------------------*/
.kt-owl-carousel .owl-prev, 
.kt-owl-carousel .owl-next,
.customNavigation-owl .prev,
.customNavigation-owl .next{
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid #eaeaea;
  color: #666666;
  line-height:18px;
  background: #fff;
  display: inline-block;
  border-radius: 90%;
  font-size: 0;

}

.kt-owl-carousel .owl-next:hover{
  background-image:url('../images/next-hover.png');
  background-color: #5a88ca;
  border-color: #5a88ca;
}
.kt-owl-carousel .owl-prev:hover{
  background-image:url('../images/prev-hover.png');
  background-color: #5a88ca;
  border-color: #5a88ca;
}

.kt-owl-carousel .owl-next {
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image:url('../images/next.png'); 
  background-repeat: no-repeat;
  background-position: 7px center;
}
.kt-owl-carousel .owl-prev {
  position: absolute;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image:url('../images/prev.png'); 
  background-repeat: no-repeat;
  background-position: 5px center;
}
/*------------------------
[5. Tab]
--------------------------*/
.tab-container{
    position: relative;
}
.tab-container .tab-panel{
    position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   opacity: 0;
   visibility: hidden;
}
.tab-container .active{
    opacity: 1;
   visibility: inherit;
   position: inherit;
   -vendor-animation-duration: 0.3s;
  -vendor-animation-delay: 1s;
  -vendor-animation-iteration-count: infinite;
}

/*------------------------
[6. Products list]
--------------------------*/
.product-price{
  font-weight: bold;
  /*color: #ffb424;*/
  color:#95979B
}
.product-price-old{
  color: #999999;
  font-size: 12px;
  text-decoration: line-through;
}
.product-star {
  font-size: 12px;
  color: #ccc;
}
.btn-add-cart .icon:before{
  content: ' ';
  background-image: url("../images/cart-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.products{
  padding: 0;
  display: block;
}
.products .product-status{
  position: absolute;
  left: 0;
  top: 0;
  height: 17px;
  color: #fff;
}
.products .product-status span{
  float: left;
  height: 17px;
  padding: 0 10px;
  text-align: center;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.products .product-status .new{
  background: #ffc000;
}
.products .product-status .sale{
  background: #ff4318;
}
.products li{
  list-style: none;
}
.products .product{
}
.products img{
  width: 100%;
  height: auto;
}
.products .product-container{
  overflow: hidden;
  position: relative;
  padding-bottom: 57px;
}
.products .product-container .inner{
  overflow: hidden;
  position: relative;
  padding-bottom: 57px;
}
.products .product-thumb{
  position: relative;
}
.products .product-thumb a.product-img{
  position: relative;
  display: block;
  margin: 0 auto;
}
.products .product-thumb a.product-img:before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 1;
}
.products .product-star{
  font-size: 12px;
  color: #ccc;
}
.products .product-right{
  padding: 10px 10px 0 10px;
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 2;
  overflow: hidden;
}
.products .product-container:hover .product-right{
 bottom: 0;
}
.products .product-container:hover .product-thumb .product-img:before{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.products .product-container:hover .btn-quick-view{
  opacity: 1;
}

.products .product-price-old{
  padding-left: 15px;
}
.products .btn-quick-view{
  width: 42px;
  height: 42px;
  background: #5a88ca;
  color: #fff;
  text-align:  center;
  line-height: 40px;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  background-image: url('../images/eye-icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  border-radius: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out 0s;
  -moz-transition: opacity 0.3s ease-out 0s;
  -o-transition: opacity 0.3s ease-out 0s;
  transition: opacity 0.3s ease-out 0s;
}

.products .btn-add-comparre{
  width: 17px;
  height: 34px;
  background: url('../images/compare-icon.png') no-repeat left center;
  font-size: 0px;
  float: left;
  margin-right: 15px;
}

.products .btn-add-comparre:hover{
  background: url('../images/compare-icon.png') no-repeat right;
}
.products .btn-add-wishlist{
  width: 19px;
  height: 34px;
  background: url('../images/wishlist-icon.png') no-repeat left center;
  font-size: 0px;
  float: left;
  margin-right: 15px;
}
.products .btn-add-wishlist:hover{
  background: url('../images/wishlist-icon.png') no-repeat right;
}
.products .btn-add-cart{
  margin-top: 0;
  float: left;
}
.products .btn-add-cart:hover,
.products .btn-add-cart:hover .icon:before{
  border-radius: 0;
}
.products .desc{
  padding: 20px 0;
  line-height: 20px;
}

.products.list .product-right{
  display: block;
  margin-bottom: inherit;
  position: inherit;
  bottom: 0;
}
.products.list .inner {
  padding: 0;
  position: inherit;
}

.products.list .product-container:hover .product-right{
  margin-top: inherit;
  overflow: hidden;
  position: inherit;
}
.products.list .btn-quick-view{
  top: 40%;
  left: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.page-content{
  margin-top: 15px;
  width:100%;
  float: left;
}
label{
  font-weight: 600;
}

.scroll_top {
    width: 34px;
    height: 34px;
    position: fixed;
    display: none;
    font-size: 0;
    z-index: 9999;
    right: 10px;
    bottom: 32px;
    background: #5a88ca;
    border-radius: 50%;
}
.scroll_top:before {
  content: "\f062";
  font-family: "FontAwesome";
  font-size: 14px;
  color: #fff;
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 34px;
  display: block;
}


